body{
    font-family: 'Inconsolata', monospace;
    background-color: #f8edeb;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    body {
      font-size: calc(1rem + 0.5vw);
    }
}

.card{
    border-radius: 15px;
    border: none;
}

.card-img-top{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fcd5ce;
    text-align: center;
}

header{
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
}

html{
    overflow: auto;
}

@keyframes spin {
    from{
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg); 
    }
    to{
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg); 
    ms-transform: rotateY(360deg); 
    }
   }
   @-webkit-keyframes spin{
    from{-webkit-transform: rotateY(0deg);}
    to{-webkit-transform: rotateY(360deg);}
}
.image{
    animation-name: spin;
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 7s;
}

#pushWebSuccess{
    display: none;
    width: fit-content;
}
::placeholder{
    color: #303030 !important;
}

